*{
    margin: 0;
    padding: 0;
    font-family: supernatural;
}
body{
    background-color: dimgray;
}
@font-face {
    font-family: supernatural;
    src: url(../font/supernatural_knight/Supernatural_Knight.ttf);
}
@font-face {
    font-family: mandalorian;
    src: url(../font/mandalorian/mandalor.ttf);
}
@font-face {
    font-family: warzone;
    src: url(../font/warzone_stencil/Warzone\ Stencil.ttf);
}
@font-face {
    font-family: write;
    src: url(../font/please_write_me_a_song/Please\ write\ me\ a\ song.ttf);
}
@font-face {
    font-family: melted;
    src: url(../font/melted_monster/Melted\ Monster.ttf);
}
.principal{
    width: 100%;
}
header{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
li, a{
    height: 50px;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin: 5px;
    color: white;
}
a:hover{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    margin: 5px;
    color: red;
    transition: 1s;
    text-shadow: white 1px 1px 1px;
}
button{
    width: 120px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 8px;
}
button:hover{
    width: 120px;
    height: 35px;
    background-color: red;
    color: white;
    text-shadow: black 1px 1px 1px;
    border-radius: 8px;
    transition: 0.5s;
}
main{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
}
.conteudo{
    width: 50%;
    margin: 15px 15px 15px 15px;
    text-align: justify;
}
.imgconteudo{
    width: 50%;
    background-image: url(../img/et.jpg);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}
.eu{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 15px;
    background-image: url(../img/et.jpg);
    background-position: center;
    background-size: 220px;
    background-repeat: no-repeat;
    border-radius: 100px;
}
.principal h2{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    text-shadow: white 1px 1px 1px;
}
.sobre-eu{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.sobre-eu .et{
    width: 100%;
    margin: 15px 15px 15px 15px;
    margin-top: 15px;
    text-align: justify;
    display: flex;
    align-items: center;
}
